canvas {
    background-color: rgb(230, 230, 230);
}

body {
    background-color: rgb(10, 45, 65);
}

/*Aligning a div in the center of the page*/
.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.spriteSheet {
    display: none;
}